<div class="flex flex-col gap-3">

  <div class="flex flex-col justify-between w-full items-center px-4 py-4 div-backdrop">

    <div class="flex justify-center gap-4 div-backdrop">
      <button mat-stroked-button (click)="get500Error()">Test 500 Error</button>
      <button mat-stroked-button (click)="get404Error()">Test 404 Error</button>
      <button mat-stroked-button (click)="get400Error()">Test 400 Error</button>
      <button mat-stroked-button (click)="get401Error()">Test 401 Error</button>
      <button mat-stroked-button (click)="getValidationError()">Test Validation Error</button>
    </div>

    @if (validationErrors) {
      <div class="mx-auto max-w-lg mt-5">
        <ul class="space-y-2 p-2 list-disc">
          @for (error of validationErrors; track $index) {
            <li class="text-error">{{error}}</li>
          }
        </ul>
      </div>
    }

  </div>
</div>
