@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));

  & {
    background-image: url("/images/day-sky-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .div-backdrop {
    background-color: rgba(240, 248, 255, 0.8);
    @apply rounded-lg backdrop-blur;
  }

  .home-image {
    width: 720px;
    height: 340px;
    background-image: url('/images/photos/campsite-people.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @apply rounded-lg;
  }

  .date-cell {
    &.available {
      background-color: #e8ecf5;
      color: #38438e;
    }

    &.selectedAvailable {
      background-color: #c8e6c9;
      color: #2e7d32;
    }

    &.reserved {
      background-color: #ffe2cd;
      color: #c66a28;
    }

    &.selectedReserved {
      background-color: #ffcdd2;
      color: #c62828;
    }

    &.pending {
      background-color: #c6a628;
      color: #fff8cd;
    }

    &.selectedPending {
      background-color: #fff8cd;
      color: #c6a628;
    }
  }

  .error-text {
    @apply text-red-800;
  }

  .linkDisabled {
    @apply text-gray-400 cursor-not-allowed;
  }

  // Material overrides (Light theme)
  .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button {
    @apply rounded-lg;
  }

  .mdc-text-field, .mdc-text-field--outlined, .mdc-text-field--filled {
    background-color: transparent !important;
  }

  .mat-mdc-table {
    background-color: transparent !important;
  }

  .mdc-menu-surface {
    background-color: rgb(240, 248, 255) !important;
  }

  .mdc-list-item--selected {
    background-color: rgb(222, 230, 243) !important;
  }

  .mdc-notched-outline, .mdc-notched-outline__notch {
    border-right-style: none !important;
  }

  .mdc-notched-outline__leading {
    border-top-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
  }

  .mdc-notched-outline__trailing {
    border-top-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
  }

  .mat-mdc-menu-panel {
    background-color: rgb(240, 248, 255) !important;
  }

  .mat-mdc-snack-bar-container {
    &.snackbar-success {
      --mdc-snackbar-container-color: green;
      --mat-snack-bar-button-color: white;
      --mdc-snackbar-supporting-text-color: white;
    }
    &.snackbar-error {
      --mdc-snackbar-container-color: #cb0000;
      --mat-snack-bar-button-color: white;
      --mdc-snackbar-supporting-text-color: white;
    }
  }

  @include mat.paginator-overrides((
    container-background-color: transparent,
  ));
}

html.dark-mode {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$spring-green-palette,
    typography: Roboto,
    density: 0
  ));

  & {
    background-image: url("/images/night-sky-bg.jpg");
  }

  .home-image {
    background-image: url('/images/photos/campfire-people.jpg');
  }

  .date-cell {
    &.available {
      background-color: #38438e;
      color: #e8ecf5;
    }

    &.selectedAvailable {
      background-color: #2e7d32;
      color: #c8e6c9;
    }

    &.reserved {
      background-color: #c66a28;
      color: #ffe2cd;
    }

    &.selectedReserved {
      background-color: #c62828;
      color: #ffcdd2;
    }

    &.pending {
      background-color: #c6a628;
      color: #fff8cd;
    }

    &.selectedPending {
      background-color: #fff8cd;
      color: #c6a628;
    }
  }

  .error-text {
    @apply text-red-300;
  }

  .div-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  // Material overrides (Dark theme)
  .mdc-menu-surface {
    background-color: #000f1c !important;
  }

  .mdc-list-item--selected {
    background-color: #012848 !important;
  }

  .mat-mdc-menu-panel {
    background-color: rgb(5, 5, 20) !important;
  }
}

.container {
  @apply mx-auto max-w-screen-xl;
}

