@if (campground) {
  <div class="p-4 w-full flex gap-4 div-backdrop">
    <img src="{{campground.pictureUrl}}" alt="{{campground.name}}" class="max-h-64 rounded-lg border-2 border-gray-600">
    <div class="mr-auto flex flex-col justify-between">
      <div class="flex flex-col gap-1">
        <h3 class="text-2xl font-semibold underline mb-1">{{campground.name}}</h3>
        <p>{{campground.description}}</p>
      </div>
    </div>
    <div class="ml-auto min-w-64 flex flex-col justify-between">
      <div class="flex flex-col">
        <h3 class="text-xl font-semibold underline">Amenities</h3>
        <p>
          @for (amenity of campground.amenities; track amenity.id) {
            <mat-icon class="scale-150 m-2" matTooltip="{{amenity.name}}">{{amenity.matIcon}}</mat-icon>
          }
        </p>
        <h3 class="text-xl font-semibold underline mt-1">Accommodations</h3>
        <ul>
          @for (type of campsiteTypes; track $index) {
            <li>{{type}}s</li>
          }
        </ul>
      </div>
      <div class="flex flex-col justify-end gap-1">
        <button mat-stroked-button routerLink="/campgrounds/{{campground.id}}">Details & Availability</button>
      </div>
    </div>
  </div>
}
