<div class="dashboard-card table-container m-4 ">
  <div class="table-header flex justify-between items-start">
    <h2 class="flex items-center gap-2 text-2xl font-semibold p-2">
      <mat-icon aria-hidden="true" fontIcon="group" /> Users
    </h2>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="flex gap-4">

      <mat-form-field appearance="outline">
        <mat-label>Filter by role</mat-label>
        <mat-select (selectionChange)="onFilterRoleSelect($event)" [formControl]="searchForm.controls.userStatusSelect">
          @for (role of roleOptions; track $index) {
            <mat-option [value]="role">{{role}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Filter by status</mat-label>
        <mat-select (selectionChange)="onFilterStatusSelect($event)" [formControl]="searchForm.controls.userStatusSelect">
          @for (status of statusOptions; track $index) {
            <mat-option [value]="status">{{status}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-96">
        <mat-label>Search by Name or Email</mat-label>
        <input [formControl]="searchForm.controls.searchInput" matInput placeholder="Search by Name or Email" />
        <button
          mat-icon-button
          matPrefix
          (click)="onSearch(searchForm.controls.searchInput.value!)"
          [disabled]="searchForm.controls.searchInput.invalid"
          [attr.aria-label]="'Search by name or email'"
        >
          <mat-icon>search</mat-icon>
        </button>
        <mat-error *ngIf="searchForm.controls.searchInput.hasError('pattern')">
          Invalid characters detected
        </mat-error>
      </mat-form-field>

      <button mat-stroked-button aria-label="Filter results" type="submit" class="admin-toolbar-button" [disabled]="searchForm.invalid">
        <mat-icon>filter_list</mat-icon> Submit
      </button>
      <button mat-stroked-button aria-label="Reset filters" type="reset" class="admin-toolbar-button" (click)="onResetFilters()">
        <mat-icon>clear</mat-icon> Reset
      </button>

    </form>
  </div>
  <div class="table-scroll-container">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="createdAt" matSortDirection="desc"
           matSortDisableClear="true" (matSortChange)="onSort($event)">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID"> ID </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Username"> Username </th>
        <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by First Name"> First Name </th>
        <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Last Name"> Last Name </th>
        <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Created At" start="desc"> Created At </th>
        <td mat-cell *matCellDef="let user"> {{user.createdAt | date: 'MMMM d, y, h:mm:ss a'}} </td>
      </ng-container>

      <ng-container matColumnDef="isEmailConfirmed">
        <th mat-header-cell *matHeaderCellDef> Email Confirmed </th>
        <td mat-cell *matCellDef="let user"> {{user.isEmailConfirmed}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let user">
          <div class="flex gap-2">
            <button (click)="openUserDetailsDialog(user)" matTooltip="{{this.accountService.isAdmin() ? 'Edit User' : 'View Details'}}" mat-icon-button>
              <mat-icon color="accent">{{this.accountService.isAdmin() ? 'edit' : 'visibility'}}</mat-icon>
            </button>
            <button (click)="openUnlockConfirmDialog(user.id)" matTooltip="Activate" mat-icon-button [hidden]="!user.isLockedOut" *appIsAdmin>
              <mat-icon class="icon-success">radio_button_checked</mat-icon>
            </button>
            <button (click)="openLockConfirmDialog(user.id)" matTooltip="Deactivate" mat-icon-button [hidden]="user.isLockedOut" *appIsAdmin>
              <mat-icon class="icon-warning">cancel</mat-icon>
            </button>
            <button (click)="openAddModeratorConfirmDialog(user.id)" matTooltip="Add Moderator" mat-icon-button [hidden]="hasRole(user,  'Moderator')" *appIsAdmin>
              <mat-icon class="icon-info">add_moderator</mat-icon>
            </button>
            <button (click)="openRemoveModeratorConfirmDialog(user.id)" matTooltip="Remove Moderator" mat-icon-button [hidden]="!hasRole(user,  'Moderator')" *appIsAdmin>
              <mat-icon class="icon-highlight">remove_moderator</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center text-xl py-4" [attr.colspan]="displayedColumns.length">
          No data matching the filter.
        </td>
      </tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 50]"
                 [length]="totalItems"
                 [pageSize]="userParams.pageSize"
                 (page)="onPageChange($event)"
                 showFirstLastButtons
                 aria-label="Select page">
  </mat-paginator>
</div>
