<div *ngIf="campsiteAvailabilityDto" class="px-2 py-2 flex">
  <div class="flex-1 pr-2">
    <button class="reserve-btn"
            matTooltip="{{getTooltipText()}}"
            matTooltipPosition="left"
            (click)="addReservationToCart()"
            [disabled]="isSelectedRangeUnavailable()">
      Reserve Now
    </button>
  </div>
  <div>
    <div class="pb-1 w-full flex justify-between items-center">
      <span class="text-lg">{{campsiteAvailabilityDto.name}}</span>&nbsp;-
      <span class="font-light">( {{campsiteAvailabilityDto.campsiteTypeName}} )</span> -
      <span class="font-light">{{campsiteAvailabilityDto.campgroundName}}</span> -
      <span class="font-light">Week Day Price: {{campsiteAvailabilityDto.weekDayPrice | currency}}</span> -
      <span class="font-light">Week End Price: {{campsiteAvailabilityDto.weekEndPrice | currency}}</span> -
      <span class="font-light">{{reservationService.selectedNumberOfNights()}} night<span *ngIf="reservationService.selectedNumberOfNights() > 1">s</span></span> -
      <span class="text-lg">Total Price: <u class="font-medium">{{totalPrice | currency}}</u></span>
    </div>
    <div class="date-grid">
      <div *ngFor="let date of dateRange" class="flex flex-col"
           [ngClass]="getSelectedRangeClass(date)"
           matTooltip="{{getDateAvailabilityLabel(date)}}"
           role="gridcell" [attr.aria-label]="getDateAvailabilityLabel(date)">
        <div class="date-cell">
          {{ date | date:'MMM d' }}
        </div>
        <div class="date-cell" [ngClass]="getDateCellClass(date)">
          {{getDateAvailabilityCode(date)}}
        </div>
      </div>
    </div>
  </div>
</div>
