@use '@angular/material' as mat;

html {
  & {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: none;
    transition: background-color 1s ease, color 1s ease;

    &::before, &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      z-index: -1;
    }

    &::before {
      background-image: url("/images/day-sky-bg.jpg");
      opacity: 1;
      transition: opacity 1s ease;
    }

    &::after {
      background-image: url("/images/night-sky-bg.jpg");
      opacity: 0;
      transition: opacity 1s ease;
    }
  }

  .div-backdrop {
    background-color: rgba(240, 248, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    @apply rounded-lg backdrop-blur;
  }
}

html.dark-mode {
  &::before {
    opacity: 0;
  }

  &::after {
    opacity: 1;
  }

  .div-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.container {
  @apply mx-auto max-w-screen-xl;
}
