@use '@angular/material' as mat;

html {
  & {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: none;
    transition: background-color 1s ease, color 1s ease;

    &::before, &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      z-index: -1;
    }

    &::before {
      background-image: url("/images/day-sky-bg.jpg");
      opacity: 1;
      transition: opacity 1s ease;
    }

    &::after {
      background-image: url("/images/night-sky-bg.jpg");
      opacity: 0;
      transition: opacity 1s ease;
    }
  }

  .div-backdrop {
    background-color: rgba(240, 248, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    @apply rounded-lg backdrop-blur;
  }

  .date-cell {
    &.available {
      background-color: #e8ecf5;
      color: #38438e;
    }

    &.selectedAvailable {
      background-color: #c8e6c9;
      color: #2e7d32;
    }

    &.reserved {
      background-color: #ffe2cd;
      color: #c66a28;
    }

    &.selectedReserved {
      background-color: #ffcdd2;
      color: #c62828;
    }

    &.pending {
      background-color: #c6a628;
      color: #fff8cd;
    }

    &.selectedPending {
      background-color: #fff8cd;
      color: #c6a628;
    }
  }
}

html.dark-mode {
  &::before {
    opacity: 0;
  }

  &::after {
    opacity: 1;
  }

  .div-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .date-cell {
    &.available {
      background-color: #38438e;
      color: #e8ecf5;
    }

    &.selectedAvailable {
      background-color: #2e7d32;
      color: #c8e6c9;
    }

    &.reserved {
      background-color: #c66a28;
      color: #ffe2cd;
    }

    &.selectedReserved {
      background-color: #c62828;
      color: #ffcdd2;
    }

    &.pending {
      background-color: #c6a628;
      color: #fff8cd;
    }

    &.selectedPending {
      background-color: #fff8cd;
      color: #c6a628;
    }
  }
}

.container {
  @apply mx-auto max-w-screen-xl;
}
