<div class="table-container">
  <div class="table-header">Today's Check-Outs</div>
  <div class="table-scroll-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 dark:bg-gray-700"> ID </th>
        <td mat-cell *matCellDef="let reservation"> {{reservation.id}} </td>
      </ng-container>

      <ng-container matColumnDef="campsiteId">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 dark:bg-gray-700"> Campsite ID </th>
        <td mat-cell *matCellDef="let reservation"> {{reservation.campsiteId}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 dark:bg-gray-700"> Email </th>
        <td mat-cell *matCellDef="let reservation"> {{reservation.email}} </td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 dark:bg-gray-700"> Start Date </th>
        <td mat-cell *matCellDef="let reservation"> {{reservation.startDate | date: 'fullDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef class="bg-gray-200 dark:bg-gray-700"> End Date </th>
        <td mat-cell *matCellDef="let reservation"> {{reservation.endDate | date: 'fullDate'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center text-xl py-4" [attr.colspan]="displayedColumns.length">
          No check-outs for today.
        </td>
      </tr>
    </table>
  </div>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    [length]="totalItems"
    [pageSize]="paginationParams.pageSize"
    (page)="onPageChange($event)"
    showFirstLastButtons>
  </mat-paginator>
</div>
