<footer class="my-3 w-full">
  <div class="div-backdrop flex max-w-screen-xl mx-auto px-4 py-2">
    <div class="flex items-center gap-3 py-2 w-1/2">
      <img src="/images/tent.svg" alt="app logo" class="max-h-16 max-w-16">
      <div class="flex-row">
        <h4 class="text-2xl font-semibold">CampNg - Start your adventure today!</h4>
      </div>
    </div>
    <div class="flex flex-col py-2 w-1/2 border-l-2 border-gray-500">
      <ul class="list-disc font-medium ml-4 pl-4">
        <li><a href="https://github.com/FarMountainDev/campNg" target="_blank">CampNg GitHub Repo</a></li>
        <li><a href="https://farmountain.dev" target="_blank">Developer's Portfolio</a></li>
        <li><a class="linkDisabled" matTooltip="Page Under Construction" matTooltipPosition="after">Contact Us</a></li>
        <li><a class="linkDisabled" matTooltip="Page Under Construction" matTooltipPosition="after">About Us</a></li>
      </ul>
    </div>
  </div>
</footer>
