<div class="chartDiv flex-col pb-2 2xl:p-2">
  <div class="flex w-full items-center relative">
    <div class="w-full absolute 2xl:text-xl 2xl:text-center">Revenue by Month and Campground</div>
    <div class="ml-auto z-10">
      <select class="border rounded cursor-pointer 2xl:p-1" [formControl]="dataFilterControl">
        <option value="reservationStartDate">by Reservation Date</option>
        <option value="orderDate">by Order Date</option>
      </select>
    </div>
  </div>
  <apx-chart
    #chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [dataLabels]="chartOptions.dataLabels!"
    [plotOptions]="chartOptions.plotOptions!"
    [responsive]="chartOptions.responsive!"
    [xaxis]="chartOptions.xAxis!"
    [legend]="chartOptions.legend!"
    [fill]="chartOptions.fill!"
  ></apx-chart>
</div>
