<div class="mt-4 w-full">
  <h4 class="text-lg font-semibold">Billing information</h4>
  <dl>
    <dd class="mt-2">{{confirmationToken?.payment_method_preview | paymentCard}}</dd>
  </dl>
</div>

<div class="mt-6 mx-auto">
  <div class="border-b border-gray-500">
    <table class="w-full text-center">
      <tbody class="divide-y divide-gray-200">
        @for (item of cartService.cart()?.items; track item) {
          <tr class="text-sm">
            <td class="py-4 text-left">
              <span>{{item.campsiteName}}</span> - <span class="italic">{{reservationService.getNumberOfNightsForCartItem(item)}} night(s)</span>
            </td>
            <td class="py-4 pl-4 pr-1"><span class="font-semibold">Check In:</span> {{item.startDate | date}} {{reservationService.checkInTime}}</td>
            <td class="py-4 pl-1 pr-4"><span class="font-semibold">Check Out:</span> {{reservationService.getCheckoutDate(item.endDate) | date}} {{reservationService.checkOutTime}}</td>
            <td class="p-4 text-right"><span class="font-semibold">{{item.price | currency}}</span></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<div class="mt-6 w-full">
  <app-announcements [announcements]="announcements()" />
</div>
