<div class="mx-auto max-w-2xl py-4 px-6 div-backdrop">
  <h2 class="font-semibold text-2xl mb-2">Thanks for your order!</h2>
  <p>
    Your order will never be processed, since this is a fake campground! Your card will not be charged. Please don't show up for this reservation!
  </p>
  <div class="space-y-2 rounded-lg border border-gray-500 p-6 my-4">
    <dl class="flex items-center justify-between gap-4">
      <dt class="font-normal">Order Number</dt>
      <dd class="font-medium text-end">#42</dd>
    </dl>
    <dl class="flex items-center justify-between gap-4">
      <dt class="font-normal">Date</dt>
      <dd class="font-medium text-end">20 September 2025</dd>
    </dl>
    <dl class="flex items-center justify-between gap-4">
      <dt class="font-normal">Payment method</dt>
      <dd class="font-medium text-end">visa</dd>
    </dl>
    <dl class="flex items-center justify-between gap-4">
      <dt class="font-normal">Address</dt>
      <dd class="font-medium text-end">address</dd>
    </dl>
    <dl class="flex items-center justify-between gap-4">
      <dt class="font-normal ">Amount</dt>
      <dd class="font-medium text-end">$200.00</dd>
    </dl>
  </div>
  <div class="flex justify-center items-center space-x-4">
    <button routerLink="/orders/42" mat-flat-button>View order</button>
    <button routerLink="/reservations" mat-stroked-button>Find another reservation</button>
  </div>
</div>
