<div class="flex flex-col h-screen">
  <mat-toolbar class="flex-shrink-0 border-b-2">
    <div class="flex align-middle items-center py-2 px-4 cursor-pointer min-w-[250px]" routerLink="/">
      <img src="/images/tent.svg" alt="app logo" class="max-h-16 max-w-16 mr-2">
      <div class="flex-col">
        <h4 class="text-2xl font-bold">CampNg</h4>
      </div>
    </div>
    <div class="font-light">
      Admin Panel
    </div>
    <div class="flex-grow"></div>
    <div class="flex align-middle items-center px-4">
      {{accountService.currentUser()?.email}}
    </div>
    <a (click)="this.themeService.toggleTheme()" class="mt-2 mr-4 cursor-pointer">
      <mat-icon *ngIf="this.themeService.currentTheme() === 'light'" matTooltip="Toggle theme">light_mode</mat-icon>
      <mat-icon *ngIf="this.themeService.currentTheme() === 'dark'" matTooltip="Toggle theme">dark_mode</mat-icon>
    </a>
    <button (click)="logout()" matTooltip="Logout" mat-icon-button class="mr-2">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <div class="flex flex-grow overflow-hidden">
    <nav class="nav-bar border-r-2 overflow-y-auto">
      <ul class="py-2">
        <li class="mb-1">
          <a routerLink="./" routerLinkActive="nav-link-active" [routerLinkActiveOptions]="{exact: true}"
             class="nav-link block px-4 py-2 rounded-md mx-2">
            <mat-icon aria-hidden="false" aria-label="Dashboard" fontIcon="dashboard" />
            Dashboard
          </a>
        </li>
        <li class="mb-1">
          <a routerLink="./orders" routerLinkActive="nav-link-active"
             class="nav-link block px-4 py-2 rounded-md mx-2">
            <mat-icon aria-hidden="false" aria-label="Orders" fontIcon="shopping_cart" />
            Orders
          </a>
        </li>
        <li class="mb-1">
          <a routerLink="./reservations" routerLinkActive="nav-link-active"
             class="nav-link block px-4 py-2 rounded-md mx-2">
            <mat-icon aria-hidden="false" aria-label="Reservations" fontIcon="calendar_month" />
            Reservations
          </a>
        </li>
        <li class="mb-1">
          <a routerLink="./users" routerLinkActive="nav-link-active"
             class="nav-link block px-4 py-2 rounded-md mx-2">
            <mat-icon aria-hidden="false" aria-label="Users" fontIcon="group" />
            Users
          </a>
        </li>
        <li class="mb-1">
          <a routerLink="./campgrounds" routerLinkActive="nav-link-active"
             class="nav-link block px-4 py-2 rounded-md mx-2">
            <mat-icon aria-hidden="false" aria-label="Campgrounds" fontIcon="park" />
            Campgrounds
          </a>
        </li>
        <li class="mb-1">
          <a routerLink="./announcements" routerLinkActive="nav-link-active"
             class="nav-link block px-4 py-2 rounded-md mx-2">
            <mat-icon aria-hidden="false" aria-label="Announcements" fontIcon="campaign" />
            Announcements
          </a>
        </li>
      </ul>
    </nav>
    <main class="admin-content flex-grow overflow-y-auto">
      <router-outlet />
    </main>
  </div>
</div>
