@use '@angular/material' as mat;

:root {
  --content-bg-color: #f1f1f1;
  --card-bg-color: #fff;
  --card-bg-color-hover: #EDEDED;
}

html {
  color-scheme: light;
  scrollbar-color: gray var(--card-background-color);
  background: #FFF;

  .admin-content {
    background-color: var(--content-bg-color);
  }

  .nav-bar {
    background-color: white;
  }

  .nav-link {
    @apply hover:bg-gray-100 text-lg flex items-center gap-2 pr-[25px] 2xl:pr-[50px];
  }

  .nav-link-active {
    @apply bg-blue-100 text-blue-800;
  }

  .dashboard-card {
    @apply rounded-lg shadow-md border-2 p-2 2xl:p-4;
    background-color: var(--card-bg-color);
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: var(--card-bg-color-hover);
  }
}

html.dark-mode {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));

  & {
    --content-bg-color: #0e1218;
    --card-bg-color: #121821;
    --card-bg-color-hover: #222833;
    background: #000;
    scrollbar-color: gray var(--card-bg-color);
  }

  .nav-bar {
    background-color: var(--content-bg-color);
  }

  .nav-link {
    @apply hover:bg-gray-800;
  }

  .nav-link-active {
    @apply bg-blue-900 text-blue-100;
  }

  .border-b-2 {
    @apply border-gray-500;
  }

  .border-r-2 {
    @apply border-gray-500;
  }

  .dashboard-card {
    @apply border-gray-500;
  }

  .mat-mdc-row:hover .mat-mdc-cell {
    background-color: var(--card-bg-color-hover);
  }
}

.mat-toolbar {
  padding: 0 !important;
}

.table-title {
  flex: 0 0 auto;
  text-align: center;
  @media (min-width: 1536px) {
    font-size: 1.25rem;
  }
}

.table-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
}

.dashboard-table {
  @media (max-width: 1535px) {
    @include mat.table-overrides((
      header-headline-line-height: 2rem,
      header-headline-size: 0.9rem,
      header-container-height: 2rem,
      row-item-container-height: 2rem,
      row-item-label-text-line-height: 0.8rem,
      row-item-label-text-size: 0.75rem,
      footer-supporting-text-line-height: 2rem,
      footer-supporting-text-size: 0.75rem,
      footer-container-height: 2rem
    ));
    @include mat.paginator-overrides((
      container-size: 3rem,
      form-field-container-height: 1rem,
      form-field-container-vertical-padding: 0.2rem,
    ));
  }
}

.table-scroll-container {
  flex: 1;
  overflow: auto;
}

.mat-mdc-outlined-button, .mat-mdc-unelevated-button {
  height: 56px !important;
}

.mat-mdc-header-row {
  background-color: var(--card-bg-color) !important;
  z-index: 10;
}

.icon-success {
  fill: #4caf50 !important;
  color: #4caf50 !important;
}

.icon-info {
  fill: #2196f3 !important;
  color: #2196f3 !important;
}

.icon-highlight {
  fill: #C6A128 !important;
  color: #C6A128 !important;
}

.icon-warning {
  fill: #c66a28 !important;
  color: #c66a28 !important;
}

.icon-error {
  fill: #f44336 !important;
  color: #f44336 !important;
}
