@use '@angular/material' as mat;

html {
  color-scheme: light;

  & {
    background: #FFF;
    --content-bg-color: #f1f1f1;
    --card-bg-color: #fff;
  }

  .admin-content {
    background-color: var(--content-bg-color);
  }

  .nav-link {
    @apply hover:bg-gray-100 text-lg flex items-center gap-2 pr-[25px] 2xl:pr-[50px];
  }

  .nav-link-active {
    @apply bg-blue-100 text-blue-800;
  }

  .dashboard-card {
    @apply rounded-lg p-4 shadow-md border-2;
    background-color: var(--card-bg-color);
  }
}

html.dark-mode {
  color-scheme: dark;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));

  & {
    background: #000;
    --content-bg-color: #0e1218;
    --card-bg-color: #121821;
  }

  .mat-toolbar {
    background-color: var(--card-bg-color);
  }

  .nav-bar {
    background-color: var(--content-bg-color);
  }

  .nav-link {
    @apply hover:bg-gray-800;
  }

  .nav-link-active {
    @apply bg-blue-900 text-blue-100;
  }

  .border-b-2 {
    @apply border-gray-500;
  }

  .border-r-2 {
    @apply border-gray-500;
  }

  .dashboard-card {
    @apply border-gray-500;
  }
}

.mat-toolbar {
  padding: 0 !important;
}
