<div class="dashboard-card table-container m-4 ">
  <div class="table-header flex justify-between items-start">
    <h2 class="flex items-center gap-2 text-2xl font-semibold p-2">
      <mat-icon aria-hidden="true" fontIcon="shopping_cart" /> Customer Orders
    </h2>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="flex gap-4">

      <mat-form-field appearance="outline">
        <mat-label>Filter by status</mat-label>
        <mat-select (selectionChange)="onFilterSelect($event)" [formControl]="searchForm.controls.orderStatusSelect">
          @for (status of statusOptions; track $index) {
            <mat-option [value]="status">{{status}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-96">
        <mat-label>Search by Email or Order ID</mat-label>
        <input [formControl]="searchForm.controls.searchInput" matInput placeholder="Search by email or order ID"
          [errorStateMatcher]="immediateErrorMatcher"/>
        <button
          mat-icon-button
          matPrefix
          (click)="onSearch(searchForm.controls.searchInput.value!)"
          [disabled]="searchForm.controls.searchInput.invalid"
          [attr.aria-label]="'Search by email or order ID'"
        >
          <mat-icon>search</mat-icon>
        </button>
        <mat-error *ngIf="searchForm.controls.searchInput.hasError('pattern')">
          Invalid characters detected
        </mat-error>
      </mat-form-field>

      <button mat-stroked-button aria-label="Filter results" type="submit" [disabled]="searchForm.invalid">
        <mat-icon>filter_list</mat-icon> Submit
      </button>
      <button mat-stroked-button aria-label="Reset filters" type="reset" (click)="onResetFilters()">
        <mat-icon>clear</mat-icon> Reset
      </button>

    </form>
  </div>
  <div class="table-scroll-container">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="orderDate" matSortDirection="desc"
           matSortDisableClear="true" (matSortChange)="onSort($event)">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID"> No. </th>
        <td mat-cell *matCellDef="let order"> {{order.id}} </td>
      </ng-container>

      <ng-container matColumnDef="buyerEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> Buyer Email </th>
        <td mat-cell *matCellDef="let order"> {{order.buyerEmail}} </td>
      </ng-container>

      <ng-container matColumnDef="orderDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date" start="desc"> Order Date </th>
        <td mat-cell *matCellDef="let order"> {{order.orderDate | date: 'short'}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by total"> Total </th>
        <td mat-cell *matCellDef="let order"> {{order.total | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> Status </th>
        <td mat-cell *matCellDef="let order"> {{order.status}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let order">
          <div class="flex gap-2">
            <button (click)="$event.stopPropagation(); openOrderDetailsDialog(order)" matTooltip="View" mat-icon-button>
              <mat-icon color="accent">visibility</mat-icon>
            </button>
            <button (click)="$event.stopPropagation(); openRefundConfirmDialog(order.id)" [disabled]="order.status === 'Refunded'" matTooltip="Refund" mat-icon-button *appIsAdmin>
              <mat-icon [class.icon-warning]="order.status != 'Refunded'">undo</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let order; columns: displayedColumns;"
        (click)="openOrderDetailsDialog(order)" class="cursor-pointer"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center text-xl py-4" [attr.colspan]="displayedColumns.length">
          No data matching the filter.
        </td>
      </tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 50]"
                 [length]="totalItems"
                 [pageSize]="orderParams.pageSize"
                 (page)="onPageChange($event)"
                 showFirstLastButtons
                 aria-label="Select page">
  </mat-paginator>
</div>
