<div class="flex flex-col 2xl:flex-row w-full h-full gap-4 p-4">
  <div class="w-full 2xl:basis-1/2 flex flex-col gap-4">
    <div class="dashboard-card basis-1/2 flex flex-col max-h-[500px] overflow-hidden 2xl:max-h-full">
      <app-dashboard-today-check-ins />
    </div>
    <div class="dashboard-card basis-1/2 flex flex-col max-h-[500px] overflow-hidden 2xl:max-h-full">
      <app-dashboard-today-check-outs />
    </div>
  </div>
  <div class="w-full 2xl:basis-1/2 flex flex-col gap-4">
    <div class="flex flex-col lg:flex-row lg:basis-1/2 gap-4">
      <div class="dashboard-card lg:basis-1/2">
        <app-dashboard-today-occupancy />
      </div>
      <div class="dashboard-card lg:basis-1/2">
        TBD future metric
      </div>
    </div>
    <div class="dashboard-card mb-4 min-h-[600px] 2xl:basis-1/2 2xl:mb-0 2xl:min-h-0">
      <app-dashboard-monthly-columns />
    </div>
  </div>
</div>
