<div class="flex flex-col xl:flex-row w-full h-full gap-4 p-4">
  <div class="w-full xl:basis-1/2 flex flex-col gap-4">
    <div class="dashboard-card xl:basis-1/2">
      Today's Check-Ins
    </div>
    <div class="dashboard-card xl:basis-1/2">
      Today's Check-Outs
    </div>
  </div>
  <div class="w-full xl:basis-1/2 flex flex-col gap-4">
    <div class="flex flex-col xl:flex-row xl:basis-1/2 gap-4">
      <div class="w-full xl:basis-1/2 dashboard-card">
        Radial Bar - Tonight's capacity
      </div>
      <div class="w-full xl:basis-1/2 dashboard-card">
        Preferred length of reservations?
      </div>
    </div>
    <div class="dashboard-card xl:basis-1/2">
      Columns - Capacity by month
    </div>
  </div>
</div>
