<div class="p-4 flex flex-col gap-4 div-backdrop">
  <div class="text-lg border-b border-gray-500">
    {{item().campsiteName}} - <span class="italic">({{item().campsiteType}})</span> - <span>{{item().campgroundName}}</span>
  </div>
  <div>
    {{reservationService.getNumberOfNights(item())}} Night(s)
  </div>
  <div>
    <table>
      <tr>
        <td class="py-1 pr-4">Check In:</td>
        <td>{{item().startDate | date}} {{reservationService.checkInTime}}</td>
      </tr>
      <tr>
      <tr>
        <td class="py-1 pr-4">Check Out:</td>
        <td>{{reservationService.getCheckoutDate(item().endDate) | date}} {{reservationService.checkOutTime}}</td>
      </tr>
    </table>
  </div>
  <div class="text-xl">
    Price: {{item().price | currency}}
  </div>
  <div>
    <button mat-stroked-button color="warn" (click)="removeItemFromCart()">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
</div>
